body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    position: relative;
 }
 html,#app{
     height: 100%;
     overflow-y: scroll;
 }
 ul,li,h5,h4,p{
    margin: 0;
    padding: 0;
    list-style: none;
 }
 a{
     text-decoration: none;
     color: #efefef;
 }
 *{
     box-sizing: border-box;
 }

 