

.content{
    padding-top: 0.47rem;
    flex: 1;
}

.container {
    height: 100%;
    padding: 50px 0px 20px;
    overflow-y: scroll;
}


.mint-searchbar-inner {
    border-radius: 20px;
  }
.mint-searchbar-cancel{
      color:rgb(48, 47, 47);
}
  
